:root .theme_light {
  --main-font: "IBM Plex mono";
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-rgba: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --bg-img: url(../images/cover-image-light.png);
}

/* До конца не понял стоит ли убирать отсюда, т.к. у меня сразу все ломается =(*/

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --bg-color: #fff1f7;
    --heading-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-rgba: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --shadow-color: #ff0070;
    --bg-img: url(../images/cover-image-light.png);
  }

  .header__rec-element {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--text-color);
  }

  .header__description-text {
    color: var(--text-color);
  }

  .title-style {
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color-rgba);
  }

  .section__title {
    color: var(--text-color);
  }

  .inside-card__title {
    color: var(--text-color);
  }

  .link:hover {
    border-bottom: 1px solid var(--text-color);
  }

  .link:focus-visible {
    outline: 1px solid var(--text-color);
  }

  .inside-card__decision-title {
    color: var(--text-color);
  }

  @media screen and (min-width: 1024px) {
    .title-style {
      text-shadow: 4px 4px 0 var(--shadow-color);
    }
  }
}
